@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Poppins", sans-serif;
}

body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background:linear-gradient(90deg,#e2e2e2,#c9d6ff);
}

.container{
    position:relative;
    width:850px;
    height:550px;
    background:#fff;
    border-radius:30px;
    box-shadow:0 0 30px rgba(0,0,0,.2);
    overflow:hidden;
}

.form-box{
    position:absolute;
    right:0;
    width:50%;
    height:100%;
    padding:40px;
    display:flex;
    align-items:center;
    text-align:center;
    transition:.6s ease-in-out 1.2s;
}

.container.active .form-box{
    right:50%;
}

.form-box.register{
    visibility:hidden;
}

.container.active .form-box.register{
    visibility:visible;
}

h1{
    font-size:36px;
}

.input-box{
    position:relative;
    margin:30px 0;
}

.input-box input{
    width:100%;
    padding:13px 50px 13px 20px;
    border:none;
    outline:none;
    border-radius:8px;
    background:#eee;
}

.input-box i{
    position:absolute;
    right:20px;
    top:50%;
    transform:translateY(-50%);
}

.forgot-link{
    margin:-15px 0 15px;
}

.forgot-link a{
    font-size:14px;
    color:#333;
}

.btn{
    width:100%;
    height:48px;
    background:#7494ec;
    color:#fff;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-weight:600;
}

.toggle-box::before{
    content:'';
    position:absolute;
    left:-250%;
    width:300%;
    height:100%;
    background:#7494ec;
    border-radius:150px;
    transition:1.8s;
    z-index:2;
}

.container.active .toggle-box::before{
    left:50%;
}

.toggle-panel{
    position:absolute;
    width:50%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color:#fff;
    z-index:2;
}

.toggle-left{
    left:0;
}

.toggle-right{
    right:-50%;
}

.container.active .toggle-left{
    left:-50%;
}

.container.active .toggle-right{
    right:0;
}

.toggle-panel .btn{
    width:160px;
    background:transparent;
    border:2px solid #fff;
}
