* {
  box-sizing: border-box;
  font-family: Arial;
}

body {
  margin: 0;
  background: #ccc;
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.user_options-container {
  width: 80%;
  position: relative;
}

.user_options-text {
  display: flex;
  background: rgba(34, 34, 34, 0.85);
  border-radius: 5px;
}

.user_options-registered,
.user_options-unregistered {
  width: 50%;
  padding: 60px;
  color: white;
}

.user_registered-login,
.user_unregistered-signup {
  margin-top: 25px;
  padding: 10px 25px;
  border: 1px solid #ccc;
  color: white;
  cursor: pointer;
}

.user_options-forms {
  position: absolute;
  top: 50%;
  left: 30px;
  width: 50%;
  min-height: 400px;
  background: white;
  transform: translate(100%, -50%);
  border-radius: 5px;
  padding: 30px;
  transition: 0.5s;
}

.user_forms-login,
.user_forms-signup {
  display: none;
}

.user_forms-login {
  display: block;
}

.forms_field {
  margin-bottom: 20px;
}

input {
  width: 100%;
  border: none;
  border-bottom: 2px solid #ccc;
  padding: 10px;
  outline: none;
}

.forms_buttons-action {
  background: #e8716d;
  color: white;
  padding: 10px 30px;
  border: none;
  cursor: pointer;
}

.bounceLeft {
  transform: translate(0%, -50%);
}

.bounceRight {
  transform: translate(100%, -50%);
}
